<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <springProperty scope="context" name="appVersion" source="spring.application.version"/>
    <springProperty scope="context" name="javaVmVendor" source="java.vm.vendor"/>
    <springProperty scope="context" name="javaVersion" source="java.version"/>
    <springProperty scope="context" name="appEncoding" source="spring.application.encode"/>
    <springProperty scope="context" name="springBootVersion" source="spring.version" />
    <property name="log.name" value="DataProviderFroEIP" />

    <!-- Stdout輸出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- FILE輸出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${log.name}.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>200MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg [%-5level] [%logger] [%thread] %n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>
    <logger name = "tw.com.taishinlife.DataProviderForEIP" level="warn">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>
